version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/workspaces/${localWorkspaceFolderBasename}
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yinyue_db
    ports:
      - "3306:3306"

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/workspaces/${localWorkspaceFolderBasename}
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app