*{font-family: 'Gotham-Book', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB","Microsoft Yahei UI", "Microsoft Yahei", "Source Han Sans CN", sans-serif;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
*{margin: 0; padding: 0; list-style: none; font: inherit;}
a { color: #333; text-decoration: none; outline: none;}
a:hover{ color: #07C160;}
b,strong{ font-weight: bold;}
button, input, optgroup, option, select, textarea {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
}
textarea {border:0; }
input:focus{outline:none;}
.iconfont {
	font-family: "iconfont"!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.empty-tips{ padding: 10px 0; color: #666;}
.wrap-1200{ width: 1200px; }
.flex_img img {object-fit: cover;-webkit-transition: -webkit-transform .5s;transition: transform .5s;}
.flex_img li:hover img,.flex_img img:hover{-webkit-transform: scale(1.1);transform: scale(1.1);}
.p-top-20{ padding-top: 20px;}
.theme-color-00{ color: #07c160;}
.theme-color-01{ color: #4c4c4c;}
.theme-color-02{ color: #7f7f7f;}
.theme-color-03{ color: #EDEDED;}
.theme-color-04{ color: #f7f7f7;}
.color-red{ color: #FA5151;}
.color-orange{ color: #FA9D3B;}
.color-yellow{ color: #FFC300;}
.color-green{ color: #91D300;}
.color-blue{ color: #10AEEF;}
.color-indigo{ color: #07C160;}
.color-purple{ color: #6467F0;}
body{ background-color: #f9f9f9;}
.ml9 {
	position: relative;
	font-weight: 200;
	font-size: 32px;
	color: #fff;
}
.ml9 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}
.ml9 .letter {
	transform-origin: 50% 100%;
	display: inline-block;
	line-height: 1em;
}
.tab-box-main .tab-box{ display: none;}
/*头部导航*/
.top-header{
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	color: #fff;
	font-size: 16px;
}
.top-header aside{
	margin: 0 auto;
	width: 1200px;
	height: 60px;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-header .logo-box{
	width: 190px;
	height: 40px;
	overflow: hidden;
}
.top-header .logo-a{
	display: none;
}
.top-header a{
	color:#fff;
}
.top-header button{
	background:transparent;
	border: 0;
	color: #FFF;
	cursor: pointer;
}
.top-header .head-nav{
	flex: 1;
	overflow: hidden;
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: flex-start;
	align-items: center;
}
.top-header .head-nav a{
	width: 110px;
}
.top-header a:hover{
	color: #07C160;
}
.top-header .head-nav span{
	padding-left: 5px;
}
.top-header .nav-search{
	width: 50px;
	color:#fff;
	text-align: center;
}

.top-header .nav-search-md{
	display: none;
}
.top-header .nav-search-md section{
	height: 60px;
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	cursor: pointer;
}
.nav-search-md section input{
	display: inline-block;
	background: 0 0;
	outline: 0;
	margin-left: 10px;
	width: 280px;
	height: 16px;
	padding: 0 7px 0 15px;
	font-size: 14px;
	color: #eee;
	line-height: 16px;
	border: 0;
	border-left: 1px solid #666;
	border-radius: 0;
}
.header-bg{
	background: #FFF;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
	color: #333;
}
.header-bg .logo-b{
	display: none;
}
.header-bg .logo-a{
	display: block;
}
.header-bg a{
	color: #333;
}
.header-bg input{
	color: #666;
}
.header-bg .nav-search-md section input{
	color: #666;
}
.header-bg button{
	color: #333;
}
/*首页头部搜索展示区域*/
.index-search-box{
	width: 100%;
	height: 350px;
	position: relative;
	text-align: center;
	color: #fff;
	z-index: 1;
}
.index-search-box .video-bg{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
.index-search-box .video-bg video{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.index-search-box .search-box{
	width: 100%;
	height: 260px;
	position: absolute;
	top: 70px;
	left: 0;
	z-index: 3;
}
.index-search-box .search-box h3{
	font-size: 32px;
	line-height: 41px;
	font-weight: bold;
	letter-spacing: 3px;
}
.ml11 {
	font-weight: 700;
	font-size: 3.5em;
}
.ml11 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.1em;
	padding-right: 0.05em;
	padding-bottom: 0.15em;
}
.ml11 .line {
	opacity: 0;
	position: absolute;
	left: 0;
	height: 100%;
	width: 3px;
	background-color: #fff;
	transform-origin: 0 50%;
}

.ml11 .line1 {
	top: 0;
	left: 0;
}

.ml11 .letter {
	display: inline-block;
	line-height: 1em;
}
.btn{
	height: 38px;
	line-height: 38px;
	border: 1px solid transparent;
	padding: 0 18px;
	background-color: #07c160;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	transition: all .3s;
	-webkit-transition: all .3s;
	box-sizing: border-box;
	vertical-align: middle;
}
.btn:hover {
	opacity: .8;
	filter: alpha(opacity=80);
	color: #fff
}
.btn:active {
	opacity: 1;
	filter: alpha(opacity=100)
}
.disabled, .disabled:active, .disabled:hover {
	border-color: #eee !important;
	background-color: #FBFBFB !important;
	color: #d2d2d2 !important;
	cursor: not-allowed !important;
	opacity: 1
}
/*
* 点击分页
*/
.ajax-box-page{
	margin: 20px auto;
	text-align: center;
	font-size: 12px;
}
.ajax-box-page .page-loading,.ajax-box-page .page-end{
	width: 100%;
	text-align: center;
	color: #666;
	display: none;
	height: 30px;
	line-height: 30px;
}
.ajax-box-page .page-btn{
	margin: 0 auto;
	width: 150px;
	height: 46px;
	background: #0fc767;
	border:1px solid #0fc767;
	color: #fff;
	border-radius: 23px;
}

.index-search-box .search-box .form .search-group {
	width: 700px;
	margin: 10px auto 0 auto;
	display: flex;
	align-items: center;
}
.index-search-box .search-box .search-group input{
	flex: 1;
	height: 48px;
	background: #FFFFFF;
	border-radius: 30px 0 0 30px;
	border: none;
	outline: none;
	color: #333;
	font-size: 18px;
	padding: 0 35px;
}
.index-search-box .search-box .search-group button{
	width: 74px;
	height: 48px;
	background: #07C160;
	border-radius: 0 30px 30px 0;
	border: none;
	cursor: pointer;
}
.index-search-box .search-box .search-group .iconfont{
	color: #fff;
	font-size: 24px;
}
/**
 热门关键词
 */
.index-search-box .search-box .hot-keys{
	display: flex;
	align-items: center;
	color: #fff;
	line-height: 21px;
	margin-top: 10px;
	justify-content: center;
}
.index-search-box .search-box .hot-keys a{
	margin: 10px;
	color: #fff;
}
.index-search-box .search-box .hot-keys a:hover{
	color: #07C160;
}
.index-search-box .search-box .hot-keys .iconfont{
	font-size: 20px;
	padding-right:5px;
	color: #FA5151;
}
/*首页统计*/
.index-search-box .search-box .counter{
	margin-top: 10px;
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: center;
	align-items: center;
}
.index-search-box .search-box .counter li{
	width: 200px;
	text-align: center;
}
.index-search-box .search-box .counter li .iconfont{
	color: #07C160;
	font-size: 28px;
}
.index-search-box .search-box .counter li .count{
	font-size: 24px;
	line-height: 31px;
}
.index-search-box .search-box .counter li h5{
	font-size: 12px;
	color: #eee;
}
.panel-nav{
	margin: 0 15px 10px 15px;
	padding: 10px 0;
	height: 65px;
	border-bottom: 1px solid #eee;
}
.panel-nav ul{
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.panel-nav ul li{
	height: 65px;
	line-height: 65px;
	padding:0 5px;
	margin-right: 20px;
	text-align: center;
}
.panel-nav ul li.current{
	border-bottom: 2px solid #07C160;
}
.panel-nav ul li.current a{
	color: #07C160;
}
/*首页内容开始*/
.page-container{
	width: 1200px;
	margin: 0 auto;
	min-height: 400px;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
}

.page-container .page-left{
	width: 870px;
	min-height: 300px;
	border-radius: 10px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    background: #fff;
	padding-bottom: 30px;
}
.page-container .page-right{
	width: 300px;
	margin-left: 20px;
}

.list-pic-card{
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 15px;
	text-align: left;
}
.list-pic-card li{
	padding: 0;
	width: 272px;
	min-height: 216px;
	margin: 1% 1.2% 1% 0;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
.list-pic-card li:hover{-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,0.3);box-shadow:0 1px 5px 1px rgba(0,0,0,0.3);-webkit-transform:translateY(-3px);-ms-transform:translateY(-3px);transform:translateY(-3px);-webkit-transition:all .2s ease-in 0s;-o-transition:all .2s ease-in 0s;transition:all .2s ease-in 0s}

.list-pic-card aside{
	width: 100%;
	height: 153px;
	background: #FFF;
	position: relative;
	border-radius:5px 5px 0 0;
	overflow: hidden;
}
.list-pic-card aside img{
	width: 272px;
	height: 153px;
}
.list-pic-card aside .category{
	font-size: 12px;
	color: #fff;
	position:absolute;
	z-index: 6;
	top: 10px;
	left: 10px;
	padding: 2px 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.list-pic-card aside .category:hover{
	background:#07C160;
}
.list-pic-card h3{
	width: 100%;
	font-size: 15px;
	padding: 10px;
	line-height: 26px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list-pic-card dl{
	color: #7F7F7F;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	border-top: 1px solid #eeeeee;
	border-radius: 0 0 5px 5px;
}
.list-pic-card dl .iconfont{
	font-size: 14px;
}
.big-video{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index:5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mini-video{
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index:5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(12, 12, 12, 0.69);
	border-radius: 20px;
	padding: 2px 5px;
	color: #fff;
}
.mini-video span,.mini-video b{
	position: static;
	font-size: 12px;
	padding-right: 5px;
}
.mini-video .iconfont{
	font-size: 14px;
}
.big-video i{
	display: block;
	width: 50px;
	height: 50px;
	background: url("../video-icon.png") 0 0 no-repeat;
	background-size: 100% 100%;
}

/*右测内容*/
.hot-so-box{
	border-radius: 10px;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}
.public-box .head{
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.public-box .head h3{
	flex: 1;
	text-align: left;
	font-size: 20px;
}
.public-box .head .icon{
	width: 30px;
	font-size: 24px;
}
.public-box .head a{
	width: 80px;
	font-size: 14px;
	color: #07C160;
	text-align: right;
}
.hot-so-box .list-pic-text{
	margin-top: 10px;
}
.list-pic-text li{
	margin-top: 10px;
	display: flex;
	align-items: center;
}
.list-pic-text li aside{
	position: relative;
	width: 128px;
	height: 72px;
	overflow: hidden;
	border-radius: 5px;
}
.list-pic-text li aside img{
	width: 100%;
	height: 100%;
}
.list-pic-text li aside span{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	color: #fff;
	padding: 2px 10px;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0 0 5px 0;
}
.list-pic-text aside span.hot-num-1{
	background-color: #FA5151;
}
.list-pic-text aside span.hot-num-2{
	background-color: #FA9D3B;
}
.list-pic-text aside span.hot-num-3{
	background-color: #FFC300;
}
.list-pic-text section{
	flex: 1;
	height: 72px;
	border-left: 0;
	border-radius: 0  5px 0 5px;
	position: relative;
}
.list-pic-text h3{
	font-size: 14px;
	margin-left: 10px;
}
.list-pic-text dl{
    padding-left: 10px;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #8D8D8D;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.list-pic-text dl .iconfont{
	font-size: 14px;
}

/*++++++*/
.recommend-box{
	margin: 20px 0;
}
.list-pic-two{
	margin-top: 10px;
	width: 100%;
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}
.list-pic-two li{
	width: 140px;
	margin-bottom: 10px;
	/* margin: 5px; */
}
.list-pic-two li aside{
	width: 100%;
	height: 82px;
	overflow: hidden;
	border-radius: 5px;
}
.list-pic-two li aside img{
	width: 140px;
	height: 100%;
}
.list-pic-two li h3{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
footer{
	background: #2D3237;
	color: #eee;
	margin-top: 30px;
}
footer section{
	width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #939191;
}
footer section .logo{
	width: 100px;
}
footer section .logo .iconfont{
	font-size: 70px;
	color: #fff;
}
footer aside{
	flex: 1;
}
footer aside p{
	font-size: 14px;
	line-height: 35px;
}
footer .footer-nav{
	margin-top: 5px;
	color: #D9DADB;
}
footer .footer-nav a{
	color: #D9DADB;
}
footer .contact{
	width: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .contact a{
	color: #D9DADB;
	width: 46px;
	height: 46px;
	border-radius: 23px;
	background: #42474A;
	text-align: center;
}
footer .contact .iconfont{
	display:block;
	font-size: 20px;
	line-height: 46px;
}
/*浮动返回顶部*/
.pageHome{ width:50px; background: #FFFFFF;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16); opacity: 1; border-radius: 51px; position: fixed; right:50px; bottom: 50px; padding:0 10px; z-index: 999;}
.pageHome .report{ display: block; padding:12px 0; position: relative;}
.pageHome .report img{ width:25px; margin: 0 auto; display: block;}
.pageHome .report span{font-size:12px; font-weight: bold; line-height:20px;  color: #333333; display: block; width:50%; float: left; text-align: center; margin-top: 5px;}
.pageHome .report:after,.pageHome .itemb:after{ width:80%; height:1px; background: rgba(0, 0, 0, 0.1); content: ""; bottom: 0; position: absolute; left:10%;}
.pageHome .itemb:after{ bottom:auto; top: 0;}
.pageHome .item{ display: block; text-align: center; padding:10px 0; position: relative;  cursor: pointer;}
.pageHome .item i{  font-size:20px; color: #333;}
.pageHome .item i:hover{ color: #07C160;}
.pageHome .fix:after { content: " ";display: block;height: 0;clear: both; visibility: hidden;font-size: 0; }

.page-banner{
	background-image: url("/static/skin/banner.jpg");
	padding: 50px 0;
	margin-top: 60px;
	display: flex;
	align-items: center;
}
.page-banner h1 {
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
}

.webpage {text-align:center; font-size: 14px;}
.webpage ul{padding:10px 0;}
.webpage ul li{ display:inline-block; text-align:center; margin:2px; }
.webpage ul li a{ display: block; color: #333; padding:0 12px;  height:32px; line-height:32px; border-radius: 3px;  border:1px solid #e3e3e3;}
.webpage ul li span{ display: block; color: #666; padding:0 12px;  height:32px; line-height:32px; border-radius: 3px;  border:1px solid #e3e3e3;}
.webpage ul li a:hover{ background:#07c160; color:#fff;border:1px solid #07c160;}
.webpage ul li.am-disabled span,.webpage ul li.disabled span{ color: #666;}
.webpage ul li.am-active span,.webpage ul li.active span{ background:#07c160; color:#fff; text-decoration:none; border:1px solid #07c160;}

/*
.webpage a {display:inline-block;height:32px;line-height:32px; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px; border-radius: 3px; margin:2px;}
.webpage a:hover {background:#f1f1f1;color:#000;text-decoration:none}
.webpage span {display:inline-block;height:32px;line-height:32px; background: #07c160; border:1px solid #0fc767; color:#fff; text-align:center; padding:0 15px; border-radius: 3px; margin:2px;}
.webpage span.all,.webpage span.pageindex{ background: #eee; color: #333; border:1px solid #e3e3e3;}
*/