html, body {
    background: #f9f9f9;
}

.page-container {
    min-height: 600px
}

article {
    background: #fff;
    padding: 10px;
}

.article-title {
    margin-top: 50px;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold
}

.article-sub {
    display: flex;
    color: #666;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-sub dd {
    margin-right: 15px
}

.article-sub dd .iconfont {
    font-size: 14px;
}

.description {
    border-top: 5px solid #8ce6b0;
    background-color: #edfff3;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 10px 0 10px;
    color: #333333;
    font-size: 16px;
    line-height: 1.7em;
    letter-spacing: 1px;
}

.description em {
    height: 28px;
    background: #07C160;
    border-radius: 4px;
    padding: 0 8px;
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
}

.content {
    color: #333;
    font-size: 16px;
    line-height: 1.7em;
    letter-spacing: 1px;
}

.content img {
    max-width: 100%
}

.content video, .video-fixed video {
    width: 100%;
    height: auto;
    outline: none;
    background: #000;
}

.tips {
    margin: 20px 0;
    font-size: 12px;
    color: #666;
}

.last-next {
    margin: 5px 0;
    background: #fff;
    padding: 20px 10px;
    border: 0;
}

.extend {
    margin: 10px 0;
    border: 1px #eee solid;
    border-top: 5px #efac65 solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.extend li {
    display: block;
    color: #666;
    line-height: 32px;
    border-bottom: 1px dashed #eee;
}

.extend li:last-child {
    border-bottom: 0;
}

.last-next li {
    display: flex;
    align-items: center;
}

.last-next li span {
    line-height: 30px;
    color: #333;
}

.last-next li a {
    margin-left: 5px;
    color: #666;
}

.public-box .head {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.public-box .head h3 {
    flex: 1;
    text-align: left;
    font-size: 20px;
}

.public-box .head .icon {
    width: 30px;
    font-size: 24px;
}

.public-box .head a {
    width: 80px;
    font-size: 14px;
    color: #07C160;
    text-align: right;
}

.recommend {
    padding: 20px 5px 5px 5px;
    background: #fff;
}

.recommend .head {
    margin: 0 20px
}
.new-list{
    margin: 0;
    background: #fff;
    padding:5px 5px 20px 5px;
}
.new-list .head {
    margin:0 20px 20px 20px;
}
.list-pic-card {
    margin-top: 10px;
}

.list-pic-card li {
    margin-left: 1.2%;
}